<style>
    .dialogboxDropdpwn .multiselect-dropdown {
        width: 250px;
    }
</style>

<!-- Delete Conformation Box -->
<div *ngIf="data.mode=='delete'; else calendarEvent">
    <p mat-dialog-title>{{data.title1}}</p>

    <div mat-dialog-content style="text-align: center;">
        <p><span style="color: darkgray;">Do you want to delete </span> <span> <strong>{{data.message1}}</strong></span>
        </p>

    </div>
    <div style="float:right;margin:20px;">
        <button mat-raised-button color="primary" [mat-dialog-close]="true" class="mr-3">Confirm</button>
        <button mat-raised-button [mat-dialog-close]="false"> Cancel</button>
    </div>
</div>
<!-- Calendar Events Dialog Box {{data.date | date}} -->
<ng-template #calendarEvent>
   
           <!-- <h5><strong>Project Details</strong></h5>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4" class="text-primary">Project Name</label>
                <p>{{data.eventName}}</p>
            </div>
            <div class="form-group col-md-6">
            <label for="inputEmail4" class="text-primary">Project Type</label>
            <p>{{data.P_Type}}</p>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="text-primary">Status</label>
            <p>{{data.Status}}</p>
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" class="text-primary">Start Date</label>
                <p>{{data.start|date:'dd-MM-yyyy'}}</p>
               
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4" class="text-primary">End Date</label>
                <p>{{data.end|date:'dd-MM-yyyy'}}</p>

            </div>
        </div>
       
        <div style="float:right;margin:20px;">
            <button mat-raised-button [mat-dialog-close]="false" color="primary"> Cancel</button>
        </div> -->
    </ng-template>