<!-- <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button> -->

<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

    <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
            <a>
                <img alt="Logo" src="assets/images/logo.png">
            </a>
        </div>
    </div>
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1"
            data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
            <ul class="kt-menu__nav ">
                <li class="kt-menu__item">
                    <a routerLink="Dashboard" class="kt-menu__link">
                        <i class="kt-menu__link-icon flaticon2-protection"></i>
                        <span class="kt-menu__link-text">Dashboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                </li>
                <li class="kt-menu__item">
                    <a routerLink="PerformanceDashboard" class="kt-menu__link">
                        <!-- <i class="kt-menu__link-icon flaticon2-graph"></i> -->
                        <i class=" kt-menu__link-icon far fa-chart-bar"></i>
                        <span class="kt-menu__link-text">Performance Dashboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                </li>
                <li class="kt-menu__item">
                    <a routerLink="Portfolio" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon fas fa-list"></i>
                        <!-- <i class="kt-menu__link-icon flaticon2-calendar-5"></i> -->
                        <span class="kt-menu__link-text">Portfolios</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                </li>
                <li class="kt-menu__item">
                    <a routerLink="ProjectsSummary" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon fab fa-wpforms"></i>
                        <span class="kt-menu__link-text">Add Portfolio</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                </li>

                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--bottom-1" aria-haspopup="true"
                    data-ktmenu-submenu-toggle="click" (click)="logout()">
                    <a class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-logout"></i>
                        <span class="kt-menu__link-text">Logout</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--bottom-2" aria-haspopup="true"
                    data-ktmenu-submenu-toggle="click">
                    <a tabindex="0" class="kt-menu__link" role="button" placement="right"
                        data-trigger="focus" [popoverTitle]="popTitle" [ngbPopover]="popContent">
                        <i class="kt-menu__link-icon flaticon-avatar"></i>
                    </a>
                </li>
                <ng-template #popTitle>
                    <b>Logged In : </b> {{_CurrentUser|uppercase}}
                </ng-template>
                <ng-template #popContent>
                    <p><strong>Employee Id : </strong> {{_EmpNo}}</p>
                    <p><strong>Full Name : </strong> {{_fullname|uppercase}}</p>
                </ng-template>

                <!-- <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--bottom-1" aria-haspopup="true" data-ktmenu-submenu-toggle="click"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Settings</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--up"><span class="kt-menu__arrow"></span>
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item  kt-menu__item--parent kt-menu__item--bottom-2" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Settings</span></span></li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Profile</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-computer"></i><span class="kt-menu__link-text">Pending</span><span class="kt-menu__link-badge"><span class="kt-badge kt-badge--brand">7</span></span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-2"></i><span class="kt-menu__link-text">Urgent</span><span class="kt-menu__link-badge"><span class="kt-badge kt-badge--danger">6</span></span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-clipboard"></i><span class="kt-menu__link-text">Done</span><span class="kt-menu__link-badge"><span class="kt-badge kt-badge--success">2</span></span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-multimedia-2"></i><span class="kt-menu__link-text">Archive</span><span class="kt-menu__link-badge"><span class="kt-badge kt-badge--info kt-badge--inline">245</span></span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Accounts</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Help</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Notifications</span></a></li>
                    </ul>
                </div>
            </li> -->
            </ul>
        </div>
    </div>
</div>