.height-adjust{
    height: auto;
    max-height: 60vh;
    overflow: auto;
  }

/* width */
.height-adjust::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.height-adjust::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.height-adjust::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}

/* Handle on hover */
.height-adjust::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard-subtitle{
  font-size: 12px;
  color: #a5a4a4;
}

.Activity-title{
  color: #22b9ff !important;
}
.Activity-title span, .Activity-title small{
  color: #7d7d7d;
}
.Activity-date{
  font-size: 12px;
}

.dialogboxDropdpwn .multiselect-dropdown{
  width: 250px !important;
}

.fc .fc-button-primary {
  background-color: #fff !important;
  border-color: #2c3e50 !important;
  color: #fff !important;
}

.action-count{
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  color: #2d2944;
  /* cursor: pointer; */
  letter-spacing: 0.2px;
  -webkit-transition: all 4s ease;
  transition: all .3s ease !important;


}
.action-count:hover{
  transform: scale(1.02);
}
.action-count .count-icon{
  background-color: #f9d57f;
  padding: 5px 8px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  color: #fff;
}

.action-count .action-content{
  font-size: 14px;
}
.action-count .action-content span{
  font-size: 12px;
  color: #696969;
}
.action-count.bg-grey{
  background-color: #efeff1;
}
.action-count.bg-grey .action-content a.arrow-btn{
  display: inline-block;
    background-color: #f9d57f;
    color: #333;
    padding: 7px 10px;
    font-size: 11px;
    border-radius: 8px;
}
.action-bg-warning{
  background-color: #f9d57f;
}
.action-count.action-bg-warning .count-icon{
  background-color: #fff;
  color: #f9d57f;
}

.action-count .action-meeting i{
  background-color: #f9d57f;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  border-radius: 9px;
  margin-right: 10px;
}
.action-count .action-meeting span{
  font-size: 18px;
}

.bd-example-modal-lg .modal-body{
  height: calc(100vh - 200px);
  overflow-y: auto;
}

/* width */
.bd-example-modal-lg .modal-body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.bd-example-modal-lg .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.bd-example-modal-lg .modal-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
.bd-example-modal-lg .modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-body .table-hover tbody tr:hover{
  color: #212529;
  background-color: #fafbfc;

}
/* === Sidebar === */
.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #b3bcff;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}
.sideInfobar .kt-portlet__head{
  background-color: #f5f6fc;
}

.sideInfobar .closebtn {
	text-decoration: none;
	color: #333;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.info-icon-cir{
  font-size: 20px;
  color: #5867dd;
}

.sideInfobar .kt-widget1 .kt-widget1__item{
  border-bottom: 0.07rem dashed #dedede;
  padding: 6px;
}
.sideInfobar .kt-widget1 .kt-widget1__item.dark{
  border-bottom: 0.07rem dashed rgba(0,0,0,0.3);
}

/* .kt-inbox__datetime{
  width: 100px !important;
} */

.sideInfobar .kt-widget1 .kt-widget1__item .kt-widget1__info .kt-widget1__title{
  font-weight: 600;
}
.sideInfobar .title-sidebar{
    width: 270px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}