

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Main Dashboard
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delay Projects -->
        <div class="col-lg-4">
            <h5 class="kt-portlet__head-title">Need Your Action</h5>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-spacer">
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="fas fa-prescription-bottle"></i>
                            </div> 
                            <!-- (click)="Delay_Click()" -->
                            <div class="action-content" (click)="Delay_Click()">
                                <!-- <a target="_blank" routerLink="/ProjectsSummary">Click Me to aNother Page</a> -->
                                <p class="mb-0"> Delay Projects</p>
                                <!-- <p class="mb-0"><span>{{myDate|date:'mediumDate'}}</span></p> -->
                                <h3 class="mt-1">{{DelayCount}}</h3>
                                <!-- <p class="mb-0"><span>It will effect your DAR</span></p> -->
                            </div>
                        </div>
                        <div class="action-count" role="button" (click)="ExpiryInOneMonth_Click()">
                            <div class="count-icon">
                                <i class="fas fa-calendar-day"></i>
                            </div>
                            <div class="action-content">
                                <p class="mb-0">Delay In One Month</p>
                                <!-- <p class="mb-0"><span>{{myDate|date:'mediumDate'}}</span></p> -->
                                <h3 class="mt-2">{{TotalExpiryInMonth}}</h3>
                            </div>
                        </div>
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="far fa-stop-circle"></i>
                            </div>
                            <div class="action-content">
                                <p class="mb-0"> Projects not Started</p>
                                <div *ngIf="!TotalExpiryPortfolio; else Count">
                                    <h3 class="mt-2">0</h3>
                                </div>
                                <ng-template #Count>
                                    <h3 class="mt-2">{{ProjectsNotStarted}}</h3>
                                </ng-template>
                            </div>
                        </div>
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="far fa-file-alt"></i>
                            </div>
                            <div class="action-content" (click)="AssignedTask_Click()">
                                <p class="mb-0">Assigned Projects</p>
                                <!-- <p class="mb-0"><span>{{myDate|date:'mediumDate'}}</span></p> -->
                                <h3 class="mt-2">{{AssignedProjects}}</h3>
                            </div>
                        </div>
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="fas fa-calendar-times"></i>
                            </div>
                            <div class="action-content">
                                <p class="mb-0"> Not Working Projects from One Month</p>
                                <h3 class="mt-2">{{ProjectsNotWorking}}</h3>
                            </div>
                        </div>
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="la la-close"></i>
                            </div>
                            <div class="action-content" (click)="Rejected_Click()">
                                <p class="mb-0"> Rejected Projects</p>
                                <h3 class="mt-2">{{RejectedCount}}</h3>
                            </div>
                        </div>
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="fas fa-spinner"></i>
                            </div>
                            <div class="action-content" (click)="UnderApproval_Click()">
                                <p class="mb-0"> Under Approval Projects</p>
                                <h3 class="mt-2">{{CompletedCount}}</h3>
                            </div>
                        </div>
                        <div class="action-count" role="button">
                            <div class="count-icon">
                                <i class="fab fa-empire"></i>
                            </div>
                            <div class="action-content" (click)="Portfolio_Click()">
                                <p class="mb-0"> Delay Portfolios</p>
                                <div *ngIf="!TotalExpiryPortfolio; else Count">
                                    <h3 class="mt-2">0</h3>
                                </div>
                                <ng-template #Count>
                                    <h3 class="mt-2">{{TotalExpiryPortfolio}}</h3>
                                </ng-template>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="action-count">
                        <div class="count-icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <div class="action-content">
                            <p class="mb-0"><span>Todays DAR Achievement</span></p>
                            <h3 class="mt-2">{{TodaysDARAchievement}} Hrs</h3>
                        </div>
                    </div>
                    <!-- <div class="action-count">
                        <div class="count-icon">
                            <i class="fas fa-layer-group"></i>
                        </div>
                        <div class="action-content" (click)="UnderApproval_Click()">
                            <p class="mb-0">Yerterdays DAR Status</p>
                            <h3 class="mt-2">{{CompletedCount}}</h3>
                        </div>
                    </div> -->
                    <div class="action-count action-bg-warning">
                        <div class="count-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="action-content">
                            <p class="mb-0">Yerterdays DAR Status</p>
                            <h3 class="mt-2">{{YesterdaysDAR_Status}}</h3>
                        </div>
                    </div>

                    <div class="action-count">
                        <div class="count-icon">
                            <i class="fas fa-layer-group"></i>
                        </div>
                        <div class="action-content">
                            <p class="mb-0"> DAR Under Approval</p>
                            <h3 class="mt-2">{{TotalDARSubmitted}}</h3>
                        </div>
                    </div>
                    <div class="action-count">
                        <div class="count-icon">
                            <i class="fas fa-registered"></i>
                        </div>
                        <div class="action-content">
                            <p class="mb-0"> DAR Rejected</p>
                            <h3 class="mt-2">{{TotalDARRejected}}</h3>
                        </div>
                    </div>
                    <div class="action-count bg-grey d-block">
                        <div class="action-content">
                            <h4 class="mb-2">Employee Vacation<br /></h4>
                            <p class="mb-0"><span> Within 30 Days</span></p>
                            <img src="assets/images/user2.png" width="50%" class="mr-5">
                            <a class="mt-2" style="font-size: 22.75px;">{{EmployeeVacationInDays}}</a>
                            <!-- <a class="arrow-btn"><i class="la la-arrow-right fa-2x"></i></a> -->
                        </div>
                    </div>

                    
                    
                    <!-- <div class="action-count d-block">
                        <div class="action-content">
                            <h2 class="mb-3">{{myDate|date:'shortTime'}}</h2>
                            <p class="mb-0"><span>{{myDate|date:'fullDate'}}</span></p>
                        </div>
                    </div> -->
                    <!-- <div class="action-count action-bg-warning">
                        <div class="count-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="action-content">
                            <p class="mb-0">Project Management - EP Website</p>
                        </div>
                    </div> -->

                    <!-- <div class="action-count d-block">
                        <div class="action-content">
                            <div class="action-meeting mb-4">
                                <i class="icon-2x text-dark-50 flaticon-users"></i>
                                <span>Staff Meeting</span>
                            </div>
                            <p><i class="fas fa-user-tie text-muted mr-1"></i> <i
                                    class="fas fa-laptop-code text-muted"></i> Core Project Meeting</p>
                            <div class="d-flex justify-content-between">
                                <p>Zoom Call With Elena and Jordan from Shift</p>
                                <h5>10:00AM <br>11:00AM</h5>
                            </div>
                            <p><i class="fas fa-users text-muted"></i> +3 Attendees</p>
                        </div>
                    </div> -->
                    <!-- <div class="action-count">
                        <div class="count-icon">
                            <i class="la la-user"></i>
                        </div>
                        <div class="action-content">
                            <p class="mb-0">Employee Vacation</p>
                            <p class="mb-0"><span>Within 30 Days</span></p>
                            <h3 class="mt-2">{{EmployeeVacationInDays}}</h3>
                               <p class="mb-0"><span>Today Mr.Rafi Vacation</span></p>
                        </div>
                    </div> -->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <!-- DAR Start -->
        <div class="col-lg-8">
            <span class="kt-portlet__head-icon">
                <!-- <i class="far fa-calendar-alt"></i> -->
                <h5 class="kt-portlet__head-title">
                    <i class="far fa-calendar-alt"></i> My Calendar
                </h5>
            </span>
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <!-- <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            My Calendar
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-elevate btn-warning dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-plus"></i> Add Event
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="kt-portlet__body">
                    <!-- <div id="kt_calendar"></div> -->
                    <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <!-- Calendar Ends -->
        <!-- Activities -->
        <div class="col-lg-7">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Activities<br>
                            <span class="dashboard-subtitle">Date Range : Last One Week</span>
                        </h3>
                    </div>
                    <!-- Tabs -->
                    <!-- <div class="kt-portlet__head-toolbar">
                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_widget5_tab1_content" role="tab"
                                    (click)="OnClickProjAct()">
                                    Project - Activity
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_widget5_tab2_content" role="tab"
                                    (click)="OnClickDarAct()">
                                    DAR - Activity
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- Tabs Ends -->
                </div>
                <div class="kt-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true"
                            [hidden]="projectactivity_Div">
                            <!-- <h5>Project - Activity</h5> -->
                            <div class="kt-widget5 height-adjust">
                                <!-- ------------------ Request Activity -------------------->

                                <div class="kt-widget5__item" *ngFor="let item of _RequestActivity; let i=index">
                                    <div *ngIf="item.Req_Type=='Project Forward'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-primary align-self-stretch mr-3"></span>
                                        <!-- <span class="bullet bullet-bar bg-primary align-self-stretch mr-3"></span> -->
                                    </div>
                                    <div *ngIf="item.Req_Type=='Approved Project'">
                                        <!-- <span class="bullet bullet-bar bg-success align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-success align-self-stretch mr-3"></span>

                                    </div>
                                    <div *ngIf="item.Req_Type=='New Project Rejected'">
                                        <!-- <span class="bullet bullet-bar bg-danger align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-danger align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='New Project'">
                                        <!-- <span class="bullet bullet-bar bg-info align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-info align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Project Hold'">
                                        <!-- <span class="bullet bullet-bar bg-warning align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-warning align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Project Complete'">
                                        <!-- <span class="bullet bullet-bar align-self-stretch mr-3"
                                            style="background-color: #28a745;"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-success align-self-stretch mr-3"
                                            style="background-color: #28a745;"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Deadline Extend'">
                                        <!-- <span class="bullet bullet-bar bg-primary align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-danger align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Task Complete'">
                                        <!-- <span class="bullet bullet-bar bg-primary align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-primary align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Not Achieved'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-danger align-self-stretch mr-3"></span>
                                        <!-- <span class="bullet bullet-bar bg-warning align-self-stretch mr-3"></span> -->
                                    </div>
                                    <div *ngIf="item.Req_Type=='Information'">
                                        <!-- <span class="bullet bullet-bar bg-info align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-info align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='New Project Reject Release'">
                                        <!-- <span class="bullet bullet-bar bg-danger align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-warning align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='KPI Achieved'">
                                        <!-- <span class="bullet bullet-bar bg-success align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-info align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Forward Reject'">
                                        <!-- <span class="bullet bullet-bar bg-danger align-self-stretch mr-3"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-danger align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='StandardTask Completed'">
                                        <!-- <span class="bullet bullet-bar dar-border-height align-self-stretch mr-3"
                                            style="background-color: #95BED9;"></span> -->
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-success align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.Req_Type=='Standardtask Enactive'">
                                        <!-- <span class="bullet bullet-bar dar-border-height align-self-stretch mr-3"
                                            style="background-color: #95BED9;"></span> -->
                                        <span class="bullet bullet-bar dar-border-height align-self-stretch mr-3"
                                            style="background-color: #C0B5DC;"></span>
                                    </div>
                                    <div class="kt-widget5__content">
                                        <div class="kt-widget5__section">
                                            <p class="kt-widget5__title Activity-title mb-1">
                                                <span>Request Type :</span> {{item.Req_Type}}
                                                <small>({{item.Exec_BlockName}})</small>
                                            </p>
                                            <!-- <p class="kt-widget5__desc">
                                                {{item.Exec_BlockName}}
                                            </p> -->
                                            <p class="kt-widget5__desc mb-0">
                                                {{item.Project_Name}}
                                            </p>
                                            <p class="kt-widget5__desc mb-0" title="{{item.Req_Coments}}">
                                                Comments : {{item.Req_Coments}}
                                            </p>
                                            <p class="kt-widget5__desc mb-0">
                                                <span>To: </span>
                                                <span class="Activity-title"> {{item.SubmittedTo}}</span>
                                            </p>
                                            <p class="kt-widget5__desc mb-0">
                                                <span>By: </span>
                                                <span class="Activity-title">{{item.SubmittedBy}}</span>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="kt-widget5__content">
                                        <div class="kt-widget5__info Activity-date">
                                            <span><b>On : </b></span>
                                            <span class="kt-font-info">{{item.Rec_Date|date}}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- ------------------ DAR Activity -------------------->

                                <div class="kt-widget5__item" *ngFor="let item of _DarActivityList; let i=index">
                                    <!-- <span class="bullet bullet-bar bg-success align-self-stretch mr-3"></span> -->
                                    <div *ngIf="item.DARStatus=='Submitted'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-success align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.DARStatus=='Rejected'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-danger align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.DARStatus=='Suspend'">
                                        <span class="bullet bullet-bar dar-border-height  align-self-stretch mr-3"
                                            style="background-color: #F5C293;"></span>
                                    </div>
                                    <div *ngIf="item.DARStatus=='Accepted'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-primary align-self-stretch mr-3"></span>
                                    </div>
                                    <div class="kt-widget5__content">
                                        <div class="kt-widget5__section">
                                            <span class="kt-widget5__title">
                                                DAR Status : {{item.DARStatus}}
                                            </span>
                                            <p class="kt-widget5__desc">
                                                DAR Code - {{item.Emp_Rep_No}}
                                            </p>
                                            <p class="kt-widget5__desc mb-0">
                                                <span>To: </span>
                                                <span class="Activity-title"> {{item.SubmittedTo}}</span>
                                            </p>
                                            <p class="kt-widget5__desc mb-0">
                                                <span>By: </span>
                                                <span class="Activity-title">{{item.SubmittedBy}}</span>
                                            </p>
                                            <!-- <div class="kt-widget5__info">
                                                <span>To: </span>
                                                <span class="kt-font-info">{{item.SubmittedTo}}</span>
                                                <br>
                                                <span>By:</span>
                                                <span class="kt-font-info">{{item.SubmittedBy}}</span>
                                            </div> -->
                                        </div>
                                        <div class="kt-widget5__content">
                                            <div class="kt-widget5__info Activity-date">
                                                <span><b>On : </b></span>
                                                <span class="kt-font-info">{{item.submissiondate|date}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="kt-widget5__content">
                                        <div class="kt-widget5__info Activity-date">
                                            <span><b>On : </b></span>
                                            <span class="kt-font-info">{{item.submissiondate|date}}</span>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="kt_widget5_tab2_content" [hidden]="DARactivity_Div">
                            <!-- <h5>DAR - Activity</h5>-->
                            <!-- <div class="kt-widget5 height-adjust">
                                <div class="kt-widget5__item" *ngFor="let item of _DarActivityList; let i=index">
                                    <div *ngIf="item.DARStatus=='Submitted'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-success align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.DARStatus=='Rejected'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-danger align-self-stretch mr-3"></span>
                                    </div>
                                    <div *ngIf="item.DARStatus=='Suspend'">
                                        <span class="bullet bullet-bar dar-border-height  align-self-stretch mr-3"
                                            style="background-color: #F5C293;"></span>
                                    </div>
                                    <div *ngIf="item.DARStatus=='Accepted'">
                                        <span
                                            class="bullet bullet-bar dar-border-height bg-primary align-self-stretch mr-3"></span>
                                    </div>
                                    <div class="kt-widget5__content">
                                        <div class="kt-widget5__section">
                                            <span class="kt-widget5__title">
                                                DAR Status : {{item.DARStatus}}
                                            </span>
                                            <p class="kt-widget5__desc">
                                                DAR Code - {{item.Emp_Rep_No}}
                                            </p>
                                            <p class="kt-widget5__desc mb-0">
                                                <span>To: </span>
                                                <span class="Activity-title"> {{item.SubmittedTo}}</span>
                                            </p>
                                            <p class="kt-widget5__desc mb-0">
                                                <span>By: </span>
                                                <span class="Activity-title">{{item.SubmittedBy}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="kt-widget5__content">
                                        <div class="kt-widget5__info Activity-date">
                                            <span><b>On : </b></span>
                                            <span class="kt-font-info">{{item.submissiondate|date}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Activity -->
        <div class="col-lg-5">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Portfolios<br>
                            <span class="dashboard-subtitle"></span>
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget5 height-adjust">
                        <div class="kt-widget5__item no-border" *ngFor="let item of _ListProjStat; let i=index">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__section">
                                    <span class="kt-widget5__title">
                                        <div [hidden]="messageForEmpty">
                                            <h4 style="color: lightgrey;text-align: center;">No Portfolio's has
                                                created</h4>
                                        </div>
                                        <div *ngIf="item.Status=='Delay'" class="mr-2">
                                            <i class="fas fa-circle text-danger mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='InProcess'" class="mr-2">
                                            <i class="fas fa-circle text-warning mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Under Approval'" class="mr-2">
                                            <i class="fas fa-circle text-warning mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Completion Under Approval'" class="mr-2">
                                            <i class="fas fa-circle text-info mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Forward Under Approval'" class="mr-2">
                                            <i class="fas fa-circle text-info mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='New Todo'" class="mr-2">
                                            <i class="fas fa-circle text-info mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Project Complete Rejected'" class="mr-2">
                                            <i class="fas fa-circle text-danger mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='New Project Rejected'" class="mr-2">
                                            <i class="fas fa-circle text-warning mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Completed'" class="mr-2">
                                            <i class="fas fa-circle text-success mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>

                                        <div *ngIf="item.Status=='Project Hold Under Approval'" class="mr-2">
                                            <i class="fas fa-circle text-success mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>

                                        <div *ngIf="item.Status=='Project Holded'" class="mr-2">
                                            <i class="fas fa-circle text-danger mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Deadline Extend Under Approval'" class="mr-2">
                                            <i class="fas fa-circle text-primary mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='New Project'" class="mr-2">
                                            <i class="fas fa-circle text-success mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <div *ngIf="item.Status=='Project Hold'" class="mr-2">
                                            <i class="fas fa-circle text-danger mr-2"></i>
                                            <span routerLink="/Portfolios" role="button">{{item.Portfolio_Name}}</span>
                                        </div>
                                        <!-- <span>{{item.Portfolio_Name}}</span> -->
                                    </span>
                                    <div class="kt-widget5__info">
                                        <!-- <span class="kt-font-info">{{item.SubmittedTo}}</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div *ngIf="item.Status=='Delay';else Inprocess">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Delaydays}} Days Delay</span>
                                </div>
                                <div *ngIf="item.Status=='InProcess'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-warning kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}} </span>
                                </div>
                                <div *ngIf="item.Status=='Project Holded'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}} </span>
                                </div>
                                <div *ngIf="item.Status=='Completion Under Approval'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}} </span>
                                </div>
                                <div *ngIf="item.Status=='Forward Under Approval'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}} </span>
                                </div>
                                <div *ngIf="item.Status=='Project Hold Under Approval'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}} </span>
                                </div>
                                <div *ngIf="item.Status=='Deadline Extend Under Approval'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}}</span>
                                </div>
                                <div *ngIf="item.Status=='Project Complete Rejected'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}}</span>
                                </div>
                                <div *ngIf="item.Status=='Project Hold'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}}</span>
                                </div>
                                <div *ngIf="item.Status=='Under Approval'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}}</span>
                                </div>
                                <div *ngIf="item.Status=='Completed'">
                                    <span
                                        class="kt-inbox__label kt-badge kt-badge--unified-success kt-badge.kt-badge-light-bold kt-badge--inline">
                                        {{item.Status}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Best Sellers-->
        </div>
        <!-- Large modal -->
        <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header no-border p-0 pt-2">
                        <div class="kt-portlet kt-portlet--bordered-semi shadow-none mb-0">
                            <div class="kt-portlet__head no-border">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        <strong> {{_Statustitle}}</strong>
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-label mr-2">
                                    <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                                        <div class="kt-header__topbar-wrapper">
                                            <div class="kt-quick-search kt-quick-search--inline">
                                                <div class="kt-quick-search__form">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            class="form-control project-search kt-quick-search__input pl-3"
                                                            placeholder="Search Projects" [(ngModel)]="textSearch"
                                                            autofocus style="width: 300px">
                                                        <div class="input-group-prepend">
                                                            <button class="input-group-text">
                                                                <i class="flaticon2-search-1"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mr-3">
                                        <ng-container *ngIf="CurrentPageNo==1">
                                            {{CurrentPageNo}}
                                            -
                                            {{_CurrentpageRecords}}
                                        </ng-container>
                                        <ng-container *ngIf="CurrentPageNo!=1">
                                            {{_CurrentpageRecords * (CurrentPageNo-1) + 1}}
                                            -
                                            {{_CurrentpageRecords * CurrentPageNo}}
                                        </ng-container>
                                        of
                                        <span> {{_totalProjectsCount}}</span>
                                    </div>

                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                                        (click)="CurrentPageNo = CurrentPageNo - 1;" [disabled]="CurrentPageNo==1">
                                        <i class="fas fa-angle-left mr-0"></i>
                                    </button>
                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                                        (click)="CurrentPageNo = CurrentPageNo + 1; "
                                        [disabled]="_CurrentpageRecords<30">
                                        <i class="fas fa-angle-right mr-0"></i></button>
                                    
                                    <div class="stores-sec mr-1">
                                        <ul class="nav navbar-nav filters">
                                            <li class="dropdown mega-dropdown" id="filtermenu">
                                                <div class="dropdown-menu mega-dropdown-menu">
                                                    <div (click)="$event.stopPropagation();">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <h5><strong>Total Projects - </strong>
                                                                    <h5 class="d-inline-block">
                                                                        <strong>{{_totalProjectsCount}}</strong>
                                                                    </h5>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="text"
                                                                    class="form-control kt-quick-search__input pl-3"
                                                                    placeholder="Search Filters" style="width: 100%;">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="count-height">
                                                                    <p><strong>Project Type</strong></p>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="count-height">
                                                                    <p><strong>Status</strong></p>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="count-height">
                                                                    <p><strong>Employees</strong></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button
                                                            class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2"
                                                            data-toggle="dropdown">Close</button>
                                                        <button
                                                            class="btn btn-label-primary btn-upper btn-sm btn-bold">Reset
                                                        </button>

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1">
                                        <i class="fas fa-sync-alt mr-0"></i>
                                    </button>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-body pt-1">
                        <div class="table-responsive">
                            
                            <table class="table table-hover" [hidden]="ProjectsTable">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Project Type</th>
                                        <th>Category</th>
                                        <th>Employee</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of _ProjectDataList|filter:textSearch;let i=index;">
                                        <td style="width: 35%;" class="kt-widget__title mb-0">{{item.Project_Name}}</td>
                                        <td class="kt-widget__title mb-0">{{item.Exec_BlockName}}</td>
                                        <td class="kt-widget__title mb-0">
                                            <div *ngIf="item.ReportType==null;else ReportType">
                                                Developemt
                                            </div>
                                            <ng-template #ReportType>
                                                {{item.ReportType}}
                                            </ng-template>
                                        </td>
                                        <td class="kt-widget__title mb-0">{{item.TM_DisplayName}}</td>
                                        <td style="width: 100px;" class="kt-widget__title mb-0">
                                            {{item.DeadLine|date:'dd-MM-yyyy'}}</td>
                                        <td>
                                            <div *ngIf="item.Status=='Under Approval'">
                                                <span
                                                    class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge.kt-badge-light-bold kt-badge--inline">Under
                                                    Approval</span>
                                            </div>
                                            <div *ngIf="item.Status=='Delay'">
                                                <span
                                                    class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline">Delay</span>
                                            </div>



                                            <div *ngIf="item.Status=='InProcess'">
                                                <span class="text-warning font-weight-400">InProcess</span>
                                            </div>
                                            <div *ngIf="item.Status=='ToDo InProcess'">
                                                <span class="text-primary font-weight-400">ToDo
                                                    InProcess</span>
                                            </div>
                                            <div *ngIf="item.Status=='New Project'">
                                                <span class="text-primary font-weight-400">New
                                                    Project</span>
                                            </div>
                                            <div *ngIf="item.Status=='New Project Rejected'">
                                                <span class="text-danger font-weight-400">New
                                                    Project
                                                    Rejected</span>
                                            </div>

                                            <div *ngIf="item.Status=='Project Hold'">
                                                <span class="text-danger font-weight-400">Project
                                                    Hold</span>
                                            </div>
                                            <div *ngIf="item.Status=='ToDo Completed'">
                                                <span class="text-primary font-weight-400">ToDo
                                                    Completed</span>
                                            </div>
                                            <div *ngIf="item.Status=='New Todo'">
                                                <span class="text-primary font-weight-400">New Todo
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Completion Under Approval'">
                                                <span class="text-warning font-weight-400">Completion
                                                    Under
                                                    Approval
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Completed'">
                                                <span class="text-info font-weight-400">Completed
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Forward Under Approval'">
                                                <span class="text-warning font-weight-400">Forward
                                                    Under
                                                    Approval
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Project Complete Rejected'">
                                                <span class="text-danger font-weight-400">Project
                                                    Complete
                                                    Rejected
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Enactive Under Approval'">
                                                <span class="text-danger font-weight-400">Enactive
                                                    Under
                                                    Approval
                                                </span>
                                            </div>

                                            <div *ngIf="item.Status=='Version'">
                                                <span class="text-danger font-weight-400">Version
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Deadline Extend Under Approval'">
                                                <span class="text-info font-weight-400">Deadline Extend
                                                    Under Approval
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Project Holded'">
                                                <span class="font-weight-400" style="color: #c0b5dc;">Project Holded
                                                </span>
                                            </div>
                                            <div *ngIf="item.Status=='Project Hold Under Approval'">
                                                <span class="font-weight-400" style="color: #c0b5dc;">Project Hold Under
                                                    Approval
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover" [hidden]="AssignedTable">
                                <thead>
                                    <tr>
                                        <th><strong>Task Name</strong></th>
                                        <th><strong>Description</strong></th>
                                        <th><strong>Type</strong></th>
                                        <th><strong>Employee</strong></th>
                                        <th><strong>Start Date</strong></th>
                                        <th><strong>End Date</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of _AssignedProjectsList; let i=index">
                                        <td class="kt-widget__title mb-0" style="width: 20%;">{{item.Task_Name}}</td>
                                        <td class="kt-widget__title mb-0" style="width: 30%; font-size: 13px;">
                                            {{item.Task_Description}}
                                        </td>
                                        <td class="kt-widget__title mb-0">{{item.ProjectType}}</td>
                                        <td class="kt-widget__title mb-0">{{item.Employee}}</td>
                                        <td class="kt-widget__title mb-0">{{item.Start_Date |
                                            date:'dd-MM-yyyy'}}</td>
                                        <td class="kt-widget__title mb-0">{{item.End_Date |
                                            date:'dd-MM-yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <!-- Side Information Bar -->
    <div id="mysideInfobar" class="sideInfobar">
        <div class="kt-portlet__head p-3">
            <div class="kt-portlet__head-label">
                <a href="javascript:void(0)" class="closebtn pull-right" (click)="closeInfo()">&times;</a>
                <h5 class="title-sidebar">
                    {{ProjectName}}
                </h5>
            </div>
        </div>
        <div class="kt-portlet__body p-3">
            <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                <div class="card">
                    <div class="card-header" id="headingOne7">
                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne7" aria-expanded="true"
                            aria-controls="collapseOne7">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path
                                        d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                        fill="#000000" fill-rule="nonzero" />
                                    <path
                                        d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                        fill="#000000" fill-rule="nonzero" opacity="0.3"
                                        transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg> Project Details
                        </div>
                    </div>
                    <div id="collapseOne7" class="collapse show" aria-labelledby="headingOne7"
                        data-parent="#accordionExample7">
                        <div class="card-body">
                            <div class="kt-widget1 kt-widget1--fit">
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Description
                                        </h3>
                                        <span class="kt-widget1__desc">{{Description}}</span>
                                    </div>
                                </div>

                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Type
                                        </h3>
                                        <span class="kt-widget1__desc">{{ProjectType}}</span>
                                    </div>
                                </div>

                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Start
                                            Date
                                        </h3>
                                        <span class="kt-widget1__desc">{{StartDate|date:'dd-MM-yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            End
                                            Date
                                        </h3>
                                        <span class="kt-widget1__desc">{{EndDate|date:'dd-MM-yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Company
                                        </h3>
                                        <span class="kt-widget1__desc">{{Com_Name}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Client
                                        </h3>
                                        <span class="kt-widget1__desc">{{Client_Name}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Cost
                                        </h3>
                                        <span class="kt-widget1__desc">{{Project_Cost}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Status
                                        </h3>
                                        <span
                                            class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge.kt-badge-light-bold kt-badge--inline">{{Status}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo7">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo7"
                            aria-expanded="false" aria-controls="collapseTwo7">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path
                                        d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                        fill="#000000" fill-rule="nonzero" />
                                    <path
                                        d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                        fill="#000000" fill-rule="nonzero" opacity="0.3"
                                        transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg> RACI Details
                        </div>
                    </div>
                    <div id="collapseTwo7" class="collapse" aria-labelledby="headingTwo7"
                        data-parent="#accordionExample7">
                        <div class="card-body">
                            <div class="kt-widget1 kt-widget1--fit">
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Owner
                                        </h3>
                                        <span class="kt-widget1__desc">{{Owner}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Responsible</h3>
                                        <span class="kt-widget1__desc">{{Responsible}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Authority</h3>
                                        <span class="kt-widget1__desc">{{Autho}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Coordinator
                                        </h3>
                                        <span class="kt-widget1__desc">{{Coordinator}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Informer
                                        </h3>
                                        <span class="kt-widget1__desc">{{Informer}}</span>
                                    </div>
                                </div>
                                <div class="kt-widget1__item dark">
                                    <div class="kt-widget1__info kt-align-left">
                                        <h3 class="kt-widget1__title">
                                            Support
                                        </h3>
                                        <span class="kt-widget1__desc">{{Support}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" [hidden]="_subtaskDiv">
                    <div class="card-header" id="headingThree7">
                        <div class="card-title collapsed"
                            data-toggle="collapse"
                            data-target="#collapseThree7"
                            aria-expanded="false"
                            aria-controls="collapseThree7">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px"
                                viewBox="0 0 24 24" version="1.1"
                                class="kt-svg-icon">
                                <g stroke="none" stroke-width="1"
                                    fill="none" fill-rule="evenodd">
                                    <polygon
                                        points="0 0 24 0 24 24 0 24" />
                                    <path
                                        d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                        fill="#000000"
                                        fill-rule="nonzero" />
                                    <path
                                        d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        opacity="0.3"
                                        transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg> Sub Task Details
                        </div>
                    </div>
                    <div id="collapseThree7" class="collapse"
                        aria-labelledby="headingThree7"
                        data-parent="#accordionExample7">
                        <div class="card-body">
                            <div class="kt-widget1 kt-widget1--fit">
                                <h5
                                    style="color: rgb(212, 204, 204);">
                                    {{subtaskNotFoundMsg}}</h5>
                                <div
                                    *ngFor="let task of Subtask_List;let i=index">
                                    <div class="kt-widget1__item">
                                        <div
                                            class="kt-widget1__info kt-align-left">
                                            <h3
                                                class="kt-widget1__title text-primary">
                                                SUB-TASK
                                                {{i+1}}

                                            </h3>
                                        </div>
                                    </div>
                                    <div class="kt-widget1__item">
                                        <div
                                            class="kt-widget1__info kt-align-left">
                                            <h3
                                                class="kt-widget1__title">
                                                Name
                                            </h3>
                                            <span
                                                class="kt-widget1__desc">{{task.SubProject_Name}}</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget1__item">
                                        <div
                                            class="kt-widget1__info kt-align-left">
                                            <h3
                                                class="kt-widget1__title">
                                                Start
                                                Date
                                            </h3>
                                            <span
                                                class="kt-widget1__desc">{{task.StartDate|date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget1__item">
                                        <div
                                            class="kt-widget1__info kt-align-left">
                                            <h3
                                                class="kt-widget1__title">
                                                End
                                                Date
                                            </h3>
                                            <span
                                                class="kt-widget1__desc">{{task.SubProject_DeadLine|date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget1__item">
                                        <div
                                            class="kt-widget1__info kt-align-left">
                                            <h3
                                                class="kt-widget1__title">
                                                Status
                                            </h3>
                                            <span
                                                class="kt-widget1__desc">{{task.SubProject_Status}}</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget1__item">
                                        <div
                                            class="kt-widget1__info kt-align-left">
                                            <h3
                                                class="kt-widget1__title">
                                                Cost
                                            </h3>
                                            <span
                                                class="kt-widget1__desc">{{task.Project_Cost |currency:'SAR '}}
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>