/* .kt-portlet__body_scroll {
    height: calc(100vh - 100px);
    overflow: auto;
    visibility: hidden;
}
.kt-portlet__body_scroll1{
    height: calc(100vh - 140px);
} */
.no-border{
    border: none;
}
.modal-body .select2-container{
    width: 100% !important
}

.accordion,
.kt-widget5,
.projects-list,
.kt-portlet__body_scroll:hover {
    visibility: visible;
}

.kt-portlet__body_scroll::-webkit-scrollbar {
    width: 5px;
}

.kt-portlet__body_scroll::-webkit-scrollbar-track {
    background: #fff;
}

.kt-portlet__body_scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 40px;
}

.kt-portlet__body_scroll::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.table td{
    vertical-align: middle;
    align-items: center;
}

/* .table td:last-child{
    text-align: right;
} */
.popover-table td{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 50%;
    vertical-align: top !important;
}


.expired {
    background-color: rgba(246, 78, 96, 0.2);
}

.completed {
    background-color: rgba(0, 128, 0, 0.2)
}

.no-border{
    border: none !important;
}

.created-portfolio{
    position: absolute;
    top: 15px;
    right: 40px;
}

.created-portfolio h6{
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    line-height: 25px;
}

.kt-header__topbar-item--search .kt-quick-search .kt-quick-search__form {
    background-color: #f5f6fc;
    border-radius: 4px;
}


.kt-widget__title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #595d6e;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}


.kt-widget5__desc {
    margin: 0;
    padding: 0.4rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #74788d;
    white-space: nowrap;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kt-widget__other {
    font-size: 1.1rem;
    font-weight: 400;
    color: #595d6e;
}
.font-weight-400{
    font-weight: 400;
}

.kt-widget5 .kt-widget5__item {
    border: none;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.accordion.accordion-solid .card {
    margin-bottom: 1rem;
}


.accordion.accordion-solid .card .card-header .card-title.expired {
    background-color: rgba(246, 78, 96, 0.2);
}

.accordion.accordion-solid .card .card-header .card-title.completed {
    background-color: rgba(0, 128, 0, 0.2)
}

.kt-aside-menu,
.kt-aside__brand {
    background-color: #2b3643;
}

.kt-aside__brand {
    padding: 0 5px;
}

.dataTables_filter {
    display: none;
}

.kt-header--fixed .kt-wrapper {
    padding-top: 20px;
}

.dataTables_wrapper .dataTable td:focus, .dataTables_wrapper .dataTable th:focus{
    outline: none
}
.toast-top-right {
    top: auto !important;
    bottom: 12px;
    right: 12px;
}
.popover {
        width: max-content;
        
    /* transform: translate(73px, -10px) !important; */
}
h3.popover-header{
    background-color: #5867dd;
    color: white;
    width: 100%;
    
}
/* .bs-popover-right>.arrow{
    display: none;
} */

.mutlidropdown-set .multiselect-dropdown{
    width: 230px !important;
    height: 33px;
}

.modal .mutlidropdown-set .multiselect-dropdown, .mutlidropdown-full .multiselect-dropdown{
    width: 100% !important;
}
.dropdown-width-150{
    width:240px !important;
}
/* .multiselect-dropdown{
    width:160px !important;
} */
.kt-quick-search .kt-quick-search__form .form-control.project-search{
    height: auto !important;
}

.mutlidropdown-set .multiselect-dropdown .dropdown-btn{
    background-color: #f5f6fc;
    border: 1px solid #b3bcff !important;
    height: 33px;
    padding: 6px 12px !important;
    overflow-y: auto;
    font-size: 11px;
}
.mutlidropdown-set .multiselect-item-checkbox input[type=checkbox] + div:before{
    border-color: #5867dd !important;
    border-radius: 4px;
}
.mutlidropdown-set .multiselect-item-checkbox input[type=checkbox]:checked + div:before{
    border: 2px solid #5867dd !important;
}

.multiselect-dropdown .dropdown-btn .selected-item{
    background-color: #5867dd !important;
}

.mutlidropdown-set .dropdown-list .filter-textbox input{
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
}

.bullet {
    display: inline-block;
    background-color: #E5EAEE;
    width: 10px;
    height: 2px;
    border-radius: 2rem;
   
}
.bullet.bullet-dot {
    width: 4px;
    height: 4px;
    border-radius: 100% !important; 
}
.bullet.bullet-ver {
    width: 2px;
    height: 10px; 
}
.bullet.bullet-bar {
    width: 4px;
    height: 100%; 
}
.bullet.bullet-bar.dar-border-height {
    height: 130px; 
}

.card-title.plist-border-success {
    border-left: 5px solid #1dc9b7; 
}
.card-title.plist-border-warning {
    border-left: 5px solid #ffb822; 
}
.card-title.plist-border-info {
    border-left: 5px solid #2786fb; 
}
.card-title.plist-border-danger {
    border-left: 5px solid #dc3545; 
}

.card-title .text-mute{
    color: #808080;
}
.card-title .text-mute:hover{
    color: #007bff;
}

.dropdown-height-adjust{
    height: auto;
    max-height: 250px;
    overflow: auto;
}


.kt-footer{
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.black-white{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

.curser-pointer{
    cursor: pointer !important;
}
/* SideInfo Animated */
.animate-right{
    transition: all 0.3s ease 0s !important;
}
@media (min-width: 1025px) {
    .kt-aside--minimize .kt-aside,
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover > .kt-menu__link {
        width: 60px;
    }

    .kt-aside--fixed.kt-aside--minimize .kt-wrapper {
        padding-left: 48px;
    }
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover > .kt-menu__submenu{
        margin-left: 61px !important;
    }

    .kt-header--fixed.kt-aside--minimize .kt-header,
    .kt-aside .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover.kt-menu__item--submenu-fullheight:not([data-ktmenu-submenu-mode='accordion']) > .kt-menu__submenu {
        left: 60px;
    }
}

@media (max-width: 1024px) {
    .margin-height{
        margin-top: 50px !important;
    }
}