/* #loading{ 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  z-index: 1; 
  width: 150px; 
  height: 150px; 
  margin: -75px 0 0 -75px; 
  border: 16px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 16px solid #3498db; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
  } 
    
  @keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
  } */

  .list-icon-color{
    color: #969696
   }
  .loader,
  .loader:before,
  .loader:after {
    background: #0dc5c1;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: #0dc5c1;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }

  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .modal .modal-content {
    border-radius: 2px;
}
/* 
  table, th, td {
    padding: 5px;
  }
  table {
    border-spacing: 15px;
  } */

.shareddetails.dropdown-menu{
  width: 400px;
  height: auto;
  max-height: 400px;
  padding: 10px;
  top: 38px !important;
  left: auto !important;
  right: 0px !important;
  overflow-y: auto;
}
/* width */
.shareddetails.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.shareddetails.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.shareddetails.dropdown-menu::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
.shareddetails.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ngx-pagination {
  padding-left: 0;
}
#backBtn:hover{
 background-color:#5867dd ;
 color: white; 
}
#Mdl_closebtn:hover{
  background-color: #dc3545;
  color:white
}

.text-warning-1{
  background-color: #ffe0a7;
  color:#FFA800;
  width: auto;
  padding: 4px 8px;
  border-radius: 5px;
}

.text-danger-1{
  color: #F64E60;
  background-color: #FFE2E5;
  width: auto;
  padding: 4px 8px;
  border-radius: 5px;
}

.multiselect-dropdown .dropdown-btn .dropdown-down,
.multiselect-dropdown .dropdown-btn .dropdown-up{
  border-top: 7px solid #adadad !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important
}

.multiselect-dropdown{
  width: 80px !important;

}
.kt-todo__details{
  display: flex;
}
.kt-todo__details .kt-todo__icon{
    border: 0;
    background: none;
    font-size: 16px;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #f5f6fc;
    border: 1px solid #b3bcff;
    color: #5867dd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 8px 0 0;
    border-radius: 0;
    border-radius: 4px;
  }

.kt-todo__details .kt-todo__icon svg.kt-svg-icon {
    height: 18px;
    width: 18px;
  }

.kt-todo__details .kt-todo__icon svg.kt-svg-icon.add-icon{
  height: 25px;
  width: 25px;
}

  .kt-todo__details .kt-todo__icon .kt-svg-icon g [fill]{
    fill: #5867dd;
  }
  .kt-todo__details .kt-todo__icon svg.kt-svg-icon.add-icon path{
    fill: #5867dd;
  }
  .kt-todo__details .kt-todo__icon:hover svg.kt-svg-icon.add-icon path,
  .kt-todo__details .kt-todo__icon.active svg.kt-svg-icon.add-icon path{
    fill: #fff;
  }

  .kt-todo__details .kt-todo__icon:hover .kt-svg-icon g [fill],
  .kt-todo__details .kt-todo__icon.active .kt-svg-icon g [fill]{
  fill: #fff;
}

  .kt-todo__details .kt-todo__icon:hover,
  .kt-todo__details .kt-todo__icon.active{
    background-color: #5867dd;
    color: #fff;
  }
  .card-title .favourite i{
    font-size: 18px;
    color: #ccc;
  }
  .card-title .favourite.active i,
  .card-title .favourite:hover i{
    color: #ffc107;
  }

  .dataTables_wrapper .dataTable .plist-details tr td{
    border-color: #d6d6d6;
  }

  .dataTables_wrapper .dataTable .plist-details tr td:first-child.success {
    border-left: 5px solid #1dc9b7;
    /* border-radius: 4px; */
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.warning {
    border-left: 5px solid #ffb822; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.info {
    border-left: 5px solid #2786fb; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.danger {
    border-left: 5px solid #F58A8B; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.UnderApprovals {
  border-left: 5px solid #BD838C; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.ForwardUnderApproval {
  border-left: 5px solid #E0B1D7; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.completeUnderApproval {
  border-left: 5px solid #98c7bf; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.projectHold {
  border-left: 5px solid #C0B5DC; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.HoldunderApp {
  border-left: 5px solid #a85098; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.DeadlineExtended{
  border-left: 5px solid #E0B1D7; 
}
.delayDays{
  font-size: 11px;
}

.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s cubic-bezier(0.93, 0.35, 1, 1);
  fill: #5E5F63;
}
.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link {
  padding: 0.2rem 20px;
  border-radius: 4px;
}
.mail-dropdown {
  width: 800px;
  max-width: 100%;
}
.mail-dropdown table td {
  vertical-align: top;
  padding-bottom: 5px;
}
.kt-quick-panel .kt-portlet.kt-portlet--head-lg .kt-portlet__head {
  min-height: 60px;
}
.kt-inbox__icon .dropdown-menu.dropdown-menu-sm {
  width: 150px;
}
.dropdown-reply ul li a .kt-nav__link-icon {
  width: 20px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__label {
  width: 60px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__input input {
  border: 1px solid #ccc !important;
  border-radius: 4px;
}
.kt-nav__link-nohover:hover {
  background-color: transparent !important;
  color: #74788D !important;
  cursor: auto;
}
.kt-nav__link-text:hover {
  color: #74788D !important;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link,
.kt-nav .kt-nav__item.active>.kt-nav__link,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
  background-color: rgba(154, 100, 142, 0.2);
  color: #333 !important;
  transition: all 0.3s;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-arrow {
  color: #333;
}
.kt-badge.kt-badge--unified-brand {
  color: #FFFFFF;
  background: rgb(195, 195, 195);
}
/* .inbox-text {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.kt-quick-panel2 {
  width: 650px !important;
}
.kt-quick-panel--right .kt-quick-panel {
  right: -660px;
  left: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .someclass {
  background-color: red;
  display: none;
} */
/* :host(.someClass) {
  background-color: red;
} */
.kt-inbox .kt-inbox__icon {
  background-color: #FFFFFF !important;
}

.chatcount {
  padding: 10px;
  margin-left: -15px;
  margin-top: -10px;
}
.kt-badge.kt-badge--dark {
  color: #FFFFFF;
  background: #8C8D92;
}
.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s cubic-bezier(0.93, 0.35, 1, 1);
  fill: #5E5F63;
}
.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link {
  padding: 0.2rem 20px;
  border-radius: 4px;
}
.kt-font-ReplyRequired {
  color: #a6c !important;
}
.mail-dropdown {
  width: 800px;
  max-width: 100%;
}
.mail-dropdown table td {
  vertical-align: top;
  padding-bottom: 5px;
}
.kt-quick-panel .kt-portlet.kt-portlet--head-lg .kt-portlet__head {
  min-height: 60px;
}
.kt-inbox__icon .dropdown-menu.dropdown-menu-sm {
  width: 150px;
}
.dropdown-reply ul li a .kt-nav__link-icon {
  width: 20px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__label {
  width: 60px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__input input {
  border: 1px solid #ccc !important;
  border-radius: 4px;
}
.kt-nav__link-nohover:hover {
  background-color: transparent !important;
  color: #74788D !important;
  cursor: auto;
}
.kt-nav__link-text:hover {
  color: #74788D !important;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link,
.kt-nav .kt-nav__item.active>.kt-nav__link,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
  background-color: rgba(154, 100, 142, 0.2);
  color: #333 !important;
  transition: all 0.3s;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-arrow {
  color: #333;
}
.kt-badge.kt-badge--unified-brand {
  color: #FFFFFF;
  background: rgb(195, 195, 195);
}
/* .inbox-text {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.kt-quick-panel2 {
  width: 650px !important;
}
.kt-quick-panel--right .kt-quick-panel {
  right: -660px;
  left: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .someclass {
  background-color: red;
  display: none;
} */
/* :host(.someClass) {
  background-color: red;
} */
.kt-inbox .kt-inbox__icon {
  border: 0;
  background: none;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  border-radius: 0;
  border-radius: 4px;
}
.kt-badge.kt-badge--inline {
  height: auto;
  width: auto;
  padding: 0.15rem 0.75rem;
  border-radius: 2px;
  margin-left: 4px;
}
.kt-inbox .kt-inbox__aside {
  padding: 17px;
  width: 243px;
}
/* Status Colors */
.Replied_border_left_true_warning{
  border-left: 5px solid #ffb822;
}
.Replied_border_left_true_primary{
  border-left: 5px solid #95bed9;
}
.Replied_border_left_true_success{
  border-left: 5px solid #95bed9;
}
.Replied_border_left_true_Danger{
  border-left: 5px solid #F58A8B;
}
.Replied_border_left_true_hold{
  border-left: 5px solid #c0b5dc
}
.Replied_border_left_true_rejected{
  border-left: 5px solid #f5c293;
}
.Replied_border_left_true_underApprovals{
  border-left: 5px solid #BD838C;
}
.Replied_border_left_true_forwardUnderApproval{
  border-left: 5px solid #E0B1D7;
}
.Replied_border_left_true_completeUnderApproval{
  border-left: 5px solid #98c7bf;
}
.Replied_border_left_true_projectHold{
  border-left: 5px solid #C0B5DC;
}
.Replied_border_left_true_NewProject{
  border-left: 5px solid #007bff;
}
.Replied_border_left_true_DeadlineExtended{
  border-left: 5px solid #E0B1D7;
}
.Replied_border_left_true_HoldunderApp{
  border-left: 5px solid #a85098;
}
.kt-inbox .kt-inbox__list {
    margin-left: -17px;
}
.icons-filter .kt-todo__icon{
  position: relative;
  margin-right: 15px !important;
  z-index: 2;
}
.icons-filter .kt-todo__icon span{
  width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
  color: #fff;
  background: #5867dd;
  border: 1px solid #5867dd;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  right: -11px;
  z-index: 3;
}
/* .icons-filter .kt-todo__icon:hover{
  background-color: #73a1f7 !important;
  color: #fff !important
} */
/* .icons-filter .kt-todo__icon:hover span{
  background-color: rgba(39, 134, 251, 1) !important;
  color: #fff !important
} */

.dataTables_wrapper .dataTable{
  margin-top: 0px !important;
}

.multiselect-dropdown[_ngcontent-unj-c40] .dropdown-btn[_ngcontent-unj-c40]{
  width: 150px !important;
}

/* === Sidebar === */
.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #b3bcff;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}
.sideInfobar .kt-portlet__head{
  background-color: #f5f6fc;
}

.sideInfobar .closebtn {
	text-decoration: none;
	color: #333;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.info-icon-cir{
  font-size: 20px;
  color: #5867dd;
}

.sideInfobar .kt-widget1 .kt-widget1__item{
  border-bottom: 0.07rem dashed #dedede;
  padding: 6px;
}
.sideInfobar .kt-widget1 .kt-widget1__item.dark{
  border-bottom: 0.07rem dashed rgba(0,0,0,0.3);
}

/* .kt-inbox__datetime{
  width: 100px !important;
} */

.sideInfobar .kt-widget1 .kt-widget1__item .kt-widget1__info .kt-widget1__title{
  font-weight: 600;
}
.sideInfobar .title-sidebar{
    width: 270px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.count-height{
  max-height: 200px;
  overflow-y: auto;
}

/* .count-height .justify-content-between{
  border-bottom: 1px solid #f1f1f1;
} */
.count-height .justify-content-between .kt-checkbox{
  margin-top: 5px;
  margin-bottom: 5px;
}


/* width */
.count-height::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.count-height::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.count-height::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
.count-height::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.dropdown .kt-checkbox > input:checked ~ span{
  border-color: #5867dd;
}
.kt-checkbox > span:after {
  border: solid #5867dd;
}

.stores-sec .mega-dropdown {
  position: static !important;
}
.stores-sec .mega-dropdown-menu {
    padding: 20px;
    width: 60%;
    /* border: 1px solid #ccc !important;
    box-shadow: none;
    -webkit-box-shadow: none; */
    top: 20px !important;
    left: -22px !important;
}
.stores-sec .mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 32px;
  z-index: 10;
}
.stores-sec .mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 30px;
  z-index: 8;
}

.stores-sec .mega-dropdown-menu1 .filter-box{
  width: 33.3333%;
  display: inline-block;
}

#project-4 thead tr th:nth-child(1), #project-4 tbody tr td:nth-child(1){
  width: 3%;
}
#project-4 thead tr th:nth-child(2), #project-4 tbody tr td:nth-child(2){
  width: 33%;
}
#project-4 thead tr th:nth-child(3), #project-4 tbody tr td:nth-child(3){
  width: 10%;
}
#project-4 thead tr th:nth-child(4), #project-4 tbody tr td:nth-child(4){
  width: 10%;
}
#project-4 thead tr th:nth-child(5), #project-4 tbody tr td:nth-child(5){
  width: 15%;
}
#project-4 thead tr th:nth-child(6), #project-4 tbody tr td:nth-child(6){
  width: 10%;
}
#project-4 thead tr th:nth-child(7), #project-4 tbody tr td:nth-child(7){
  width: 10%;
}
#project-4 thead tr th:nth-child(8), #project-4 tbody tr td:nth-child(8){
  width: 10%;
}

.kt-quick-search .kt-quick-search__form .input-group-prepend .input-group-text, .kt-quick-search .kt-quick-search__form .input-group-append .input-group-text{
  /* background-color: #e4e7ff; */
  cursor: pointer;
}
.kt-quick-search .kt-quick-search__form .input-group{
  border: 1px solid #d6dbff;
  border-radius: 5px;
}

.show_entries span{
  position: absolute;
  top: 3px;
  background-color: #fff;
 
}
.show_entries select{
  /* width: 100px; */
  border: 2px solid rgba(88, 103, 221, 0.3);
  color: #5867dd;
  font-weight: bold;
}

.count-btn{
  /* height: 25px; */
  /* background-color: #5867dd; */
  padding: 0px 10px;
  font-weight: 700;
  color: rgb(88, 88, 88);
  font-size: 14px;
  line-height: 25px;
}
/* Search Projects */
.kt-inbox .kt-inbox__toolbar .kt-inbox__search .input-group .form-control {
  height: 44px;
  border: none;
  background-color: #f2f3f7;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100% !important;
}

.dropdown-menu-md.bg-ground, .dropdown-menu-md.bg-ground-short{
  /* background-color: #e2e9ff; */
  background-color: #fff;
  width: 25vw;
  box-shadow: none;
  border: 1px solid #d6dbff !important;
  margin-top: 5px;
}
.dropdown-menu-md.bg-ground .form-control, .dropdown-menu-md.bg-ground-short .form-control{
  background-color: #f5f6fc;
}

/* .kt-todo__details .kt-todo__icon.active  */

/* .valinoor{
  position: relative;
}
.valinoor::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: red;
} */

.kt-inbox .kt-inbox__list .kt-inbox__items .kt-inbox__item{
  position: relative;
}
.delete-btn{
  display: none;
  position: absolute;
   right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f3f7;
    color: grey;
    line-height: 63px;
    padding: 0 20px;
    transition: all 2s ease !important;
}
.delete-btn i{
  background: none;
  font-size: 16px;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  height: 30px;
  width: 30px;
  background-color: #f5f6fc;
  border: 1px solid #b3bcff;
  color: #5867dd;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px 8px 0 0;
  border-radius: 0;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* .delete-btn i{
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #f2f3f7;
  transition: all .3s ease !important;
}*/
.btn-secondary.theme-btn{
  background-color: #5867dd;
  color: #fff;
}
.btn.btn-label-primary{
  border: 1px solid #b3bcff;
}

.delete-btn i:hover{
    background-color: #5867dd;
    color: #fff;
}
.kt-inbox__item:hover .delete-btn{
  display: block;
}

@media only screen and (max-width: 768px) {
  .dropdown-menu-md.bg-ground{
    width: 80vw;
  }
}



