<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height">
    <!--Begin::Row    DIV ONE -->
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <strong> {{_Statustitle}}</strong>
                        </h3>
                    </div>
                    <div class="kt-portlet__head-label mr-2">
                        <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                            <div class="kt-header__topbar-wrapper">
                                <div class="kt-quick-search kt-quick-search--inline">
                                    <div class="kt-quick-search__form">
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control project-search kt-quick-search__input pl-3"
                                                placeholder="Search Projects" [(ngModel)]="searchText" autofocus
                                                style="width: 300px">
                                            <div class="input-group-prepend">
                                                <button class="input-group-text" (click)="SearchbyText()"
                                                    (keydown.enter)="$event">
                                                    <i class="flaticon2-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mr-3">
                            <ng-container *ngIf="CurrentPageNo==1">
                                {{CurrentPageNo}}
                                -
                                {{_CurrentpageRecords}}
                            </ng-container>
                            <ng-container *ngIf="CurrentPageNo!=1">
                                {{_CurrentpageRecords * (CurrentPageNo-1) + 1}}
                                -
                                {{_CurrentpageRecords * CurrentPageNo}}
                            </ng-container>
                            of
                            <span> {{_totalProjectsCount}}</span>
                        </div>

                        <!-- <div class="mr-3">
                            Page <span class="badge badge-pill badge-primary">
                                {{CurrentPageNo}}</span>
                        </div> -->

                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo - 1;applyFilters()" [disabled]="CurrentPageNo==1">
                            <i class="fas fa-angle-left mr-0"></i>
                        </button>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo + 1;applyFilters()"
                            [disabled]="_CurrentpageRecords<30">
                            <i class="fas fa-angle-right mr-0"></i></button>
                       
                        <!-- Filters -->
                        <div class="stores-sec mr-1">
                            <ul class="nav navbar-nav filters">
                                <li class="dropdown mega-dropdown" id="filtermenu">
                                    <a class="btn btn-label-primary btn-upper btn-sm btn-bold" data-toggle="dropdown"><i
                                            class="fas fa-ellipsis-v mr-0"></i></a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div (click)="$event.stopPropagation();">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5><strong>Total Projects - </strong>
                                                        <h5 class="d-inline-block">
                                                            <strong>{{_totalProjectsCount}}</strong>
                                                        </h5>
                                                    </h5>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control kt-quick-search__input pl-3"
                                                        placeholder="Search Filters" [(ngModel)]="txtSearch"
                                                        style="width: 100%;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Project Type</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of TypeContInFilter |filter:txtSearch;let i=index">
                                                            <label class="kt-checkbox">

                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isTypeChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                </mat-checkbox> -->
                                                                <!-- value="item.id" [attr.checked]="item.mode.indexOf(m.id) > -1 ? true : null"> -->
                                                                <input type="checkbox" (change)="isTypeChecked(item)"
                                                                    [(ngModel)]="item.checked">
                                                                {{item.Exec_BlockName}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Status</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of StatusCountFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isStatusChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                </mat-checkbox> -->
                                                                <input type="checkbox" (change)="isStatusChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Status}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Employees</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of EmpCountInFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isEmpChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                </mat-checkbox> -->
                                                                <input type="checkbox" (change)="isEmpChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.TM_DisplayName}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                        </div>
                                        <div>
                                            <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2"
                                                (click)="resetFilters($event)">
                                                Clear
                                            </button> -->
                                            <button
                                                class="btn btn-label-danger btn-outline-danger btn-upper btn-sm btn-bold mr-2"
                                                data-toggle="dropdown">Close</button>
                                            <button class="btn btn-label-primary btn-upper btn-sm btn-bold"
                                                (click)="resetAll()">Reset
                                                <!-- <i class="fas fa-sync-alt mr-0"></i> -->
                                            </button>
                                            <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold"
                                                (click)="applyFilters()">Apply
                                            </button> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mr-1">
                            <a [hidden]="Z2A" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                                data-toggle="kt-tooltip" title="Click to sort Asc">
                                <i class="fa fa-sort-alpha-down-alt font-16 mr-0"></i>
                            </a>
                            <a [hidden]="A2Z" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                                data-toggle="kt-tooltip" title="Click to sort Desc">
                                <i class="fas fa-sort-alpha-up font-16 mr-0"></i>
                            </a>
                        </div>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" (click)="resetAll()">
                            <i class="fas fa-sync-alt mr-0"></i>
                        </button>
                        <button class="btn btn-label-primary  btn-sm btn-bold mr-1" (click)="BackBttn()">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <!-- <div class="kt-portlet__head">
                    <div class="col-md-6 py-3">
                        <input type="text" class="form-control" [(ngModel)]="portfolioName" 
                            placeholder="Enter Portfolio Name..." (keypress)="_ontextChange($event.target.value)">
                        <div>
                            <strong>
                                <p class="text-danger mb-0 py-1" [hidden]="portfolioName!=''"> * Please Enter Portfolio
                                    Name To Enable Checkboxes</p>
                            </strong>
                        </div>
                    </div>
                </div> -->
                <div class="kt-portlet__body kt-portlet__body_scroll pt-0 ">
                    <div class="card projects-list no-border">
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer" [hidden]="AssignedTask">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover dataTable no-footer dtr-inline" role="grid">
                                            <thead>
                                                <tr>
                                                    <th><strong>Task Name</strong></th>
                                                    <th><strong>Description</strong></th>
                                                    <th><strong>Type</strong></th>
                                                    <th><strong>Employee</strong></th>
                                                    <th><strong>Start Date</strong></th>
                                                    <th><strong>End Date</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of _AssignedProjectsList; let i=index">
                                                    <td class="kt-widget__title mb-0"> {{item.Task_Name}}</td>
                                                    <td class="kt-widget__title mb-0" style="width: 25%;">
                                                        {{item.Task_Description}}</td>
                                                    <td class="kt-widget__title mb-0">{{item.ProjectType}}</td>
                                                    <td class="kt-widget__title mb-0">{{item.Employee}}</td>
                                                    <td class="kt-widget__title mb-0">{{item.Start_Date
                                                        |date:'dd-MM-yyyy'}}</td>
                                                    <td class="kt-widget__title mb-0">{{item.End_Date
                                                        |date:'dd-MM-yyyy'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center py-4" style="color: lightgrey">
                                            <h4>{{notSelectedAnything_msg}} </h4>
                                            <p> {{notSelectedAnything_msg2}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--begin: Datatable -->
                            <!-- U hve to Work here Below div This is the DIV Bro -->
                            <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"
                                [hidden]="projectsDataTable">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover dataTable no-footer dtr-inline" id="project-4"
                                            role="grid" style="width: 0px;">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label=": activate to sort column descending">
                                                    </th>
                                                    <!-- <th></th> -->
                                                    <th data-order="desc" data-name="Project_Name" class="sorting"
                                                        tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;"
                                                        aria-label="Project Title &amp;amp; Description: activate to sort column ascending">
                                                        Project Name</th>
                                                    <th data-order="desc" data-name="Exec_BlockName" tabindex="0"
                                                        class="sorting" aria-controls="project-4" rowspan="1"
                                                        colspan="1"
                                                        aria-label="Project Type: activate to sort column ascending">
                                                        Project Type</th>
                                                    <th data-order="desc" data-name="ReportType" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-label="Category: activate to sort column ascending">
                                                        Category</th>
                                                    <th data-order="desc" data-name="TM_DisplayName" tabindex="0"
                                                        class="sorting" aria-controls="project-4" rowspan="1"
                                                        colspan="1"
                                                        aria-label="User Name: activate to sort column ascending">
                                                        Employee
                                                        Name</th>
                                                    <th data-order="desc" data-name="DeadLine" tabindex="0"
                                                        class="sorting" aria-controls="project-4" rowspan="1"
                                                        colspan="1"
                                                        aria-label="End Date: activate to sort column ascending">
                                                        End
                                                        Date</th>
                                                    <th data-order="desc" data-name="Status" class="sorting"
                                                        tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <!-- filter:Emp_value|filter:ProjectTyp_value|filter:Status_value  | grdFilterPipe: {Project_Name: searchText}-->
                                                <tr role="row" class="odd"
                                                    *ngFor="let item of _ProjectDataList;let i=index;">
                                                    <!-- Information Icon -->
                                                    <!-- <td></td> -->
                                                    <td align="center">
                                                        <a tabindex="0" class="btn mr-2" role="button" placement="right"
                                                            data-trigger="focus">
                                                            <i class="fa fa-info-circle info-icon-cir"
                                                                (click)="openInfo(item.Project_Code,item.Project_Name,item.Project_Description,item.Exec_BlockName,item.Start_Date,item.DeadLine,
                                                                item.Status,item.Project_Cost,item.Com_Name,item.Client_Name,item.ProjectOwner,item.TeamRes,item.TeamAutho,item.TeamCoor,
                                                                item.TeamInformer,item.TeamSupport,item.ReportType)"></i>
                                                        </a>
                                                        <div id="mysideInfobar" class="sideInfobar">
                                                            <div class="kt-portlet__head p-3">
                                                                <div class="kt-portlet__head-label">
                                                                    <a href="javascript:void(0)"
                                                                        class="closebtn pull-right"
                                                                        (click)="closeInfo()">&times;</a>
                                                                    <h5 class="title-sidebar">
                                                                        {{pName}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                            <div class="kt-portlet__body p-3">
                                                                <div class="accordion accordion-light  accordion-svg-icon"
                                                                    id="accordionExample7">
                                                                    <div class="card">
                                                                        <div class="card-header" id="headingOne7">
                                                                            <div class="card-title"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapseOne7"
                                                                                aria-expanded="true"
                                                                                aria-controls="collapseOne7">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                    width="24px" height="24px"
                                                                                    viewBox="0 0 24 24" version="1.1"
                                                                                    class="kt-svg-icon">
                                                                                    <g stroke="none" stroke-width="1"
                                                                                        fill="none" fill-rule="evenodd">
                                                                                        <polygon
                                                                                            points="0 0 24 0 24 24 0 24" />
                                                                                        <path
                                                                                            d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                                                            fill="#000000"
                                                                                            fill-rule="nonzero" />
                                                                                        <path
                                                                                            d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                                                            fill="#000000"
                                                                                            fill-rule="nonzero"
                                                                                            opacity="0.3"
                                                                                            transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                                                    </g>
                                                                                </svg> Project Details
                                                                            </div>
                                                                        </div>
                                                                        <div id="collapseOne7" class="collapse show"
                                                                            aria-labelledby="headingOne7"
                                                                            data-parent="#accordionExample7">
                                                                            <div class="card-body">
                                                                                <div class="kt-widget1 kt-widget1--fit">
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Description</h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pDesc}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Type
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pType}}</span>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Start
                                                                                                Date
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pStdt
                                                                                                |
                                                                                                date:'dd-MM-yyyy'}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                End
                                                                                                Date
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pEndDT
                                                                                                |
                                                                                                date:'dd-MM-yyyy'}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Status
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pStat}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Cost
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pCost|currency:'SAR
                                                                                                '}}
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Company
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pComp}}</span>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="kt-widget1__item dark">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Client
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pClient}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card">
                                                                        <div class="card-header" id="headingTwo7">
                                                                            <div class="card-title collapsed"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapseTwo7"
                                                                                aria-expanded="false"
                                                                                aria-controls="collapseTwo7">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                    width="24px" height="24px"
                                                                                    viewBox="0 0 24 24" version="1.1"
                                                                                    class="kt-svg-icon">
                                                                                    <g stroke="none" stroke-width="1"
                                                                                        fill="none" fill-rule="evenodd">
                                                                                        <polygon
                                                                                            points="0 0 24 0 24 24 0 24" />
                                                                                        <path
                                                                                            d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                                                            fill="#000000"
                                                                                            fill-rule="nonzero" />
                                                                                        <path
                                                                                            d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                                                            fill="#000000"
                                                                                            fill-rule="nonzero"
                                                                                            opacity="0.3"
                                                                                            transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                                                    </g>
                                                                                </svg> RACI Details
                                                                            </div>
                                                                        </div>
                                                                        <div id="collapseTwo7" class="collapse"
                                                                            aria-labelledby="headingTwo7"
                                                                            data-parent="#accordionExample7">
                                                                            <div class="card-body">
                                                                                <div class="kt-widget1 kt-widget1--fit">
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Owner
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{Powner}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Responsible</h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{PRespon}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Authority</h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{PAut}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Coordinator
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{Pcoor}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Informer
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{PInfo}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-widget1__item dark">
                                                                                        <div
                                                                                            class="kt-widget1__info kt-align-left">
                                                                                            <h3
                                                                                                class="kt-widget1__title">
                                                                                                Support
                                                                                            </h3>
                                                                                            <span
                                                                                                class="kt-widget1__desc">{{pSupprt}}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card">
                                                                        <div class="card-header" id="headingThree7">
                                                                            <div class="card-title collapsed"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapseThree7"
                                                                                aria-expanded="false"
                                                                                aria-controls="collapseThree7">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                    width="24px" height="24px"
                                                                                    viewBox="0 0 24 24" version="1.1"
                                                                                    class="kt-svg-icon">
                                                                                    <g stroke="none" stroke-width="1"
                                                                                        fill="none" fill-rule="evenodd">
                                                                                        <polygon
                                                                                            points="0 0 24 0 24 24 0 24" />
                                                                                        <path
                                                                                            d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                                                            fill="#000000"
                                                                                            fill-rule="nonzero" />
                                                                                        <path
                                                                                            d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                                                            fill="#000000"
                                                                                            fill-rule="nonzero"
                                                                                            opacity="0.3"
                                                                                            transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                                                    </g>
                                                                                </svg> Sub Task Details
                                                                            </div>
                                                                        </div>
                                                                        <div id="collapseThree7" class="collapse"
                                                                            aria-labelledby="headingThree7"
                                                                            data-parent="#accordionExample7">
                                                                            <div class="card-body">
                                                                                <div class="kt-widget1 kt-widget1--fit">
                                                                                    <h5
                                                                                        style="color: rgb(212, 204, 204);">
                                                                                        {{subtaskNotFoundMsg}}</h5>
                                                                                    <div
                                                                                        *ngFor="let task of Subtask_List;let i=index">
                                                                                        <div class="kt-widget1__item">
                                                                                            <div
                                                                                                class="kt-widget1__info kt-align-left">
                                                                                                <h3
                                                                                                    class="kt-widget1__title text-primary">
                                                                                                    SUB-TASK
                                                                                                    {{i+1}}
                                                                                                </h3>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="kt-widget1__item">
                                                                                            <div
                                                                                                class="kt-widget1__info kt-align-left">
                                                                                                <h3
                                                                                                    class="kt-widget1__title">
                                                                                                    Name
                                                                                                </h3>
                                                                                                <span
                                                                                                    class="kt-widget1__desc">{{task.SubProject_Name}}</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="kt-widget1__item">
                                                                                            <div
                                                                                                class="kt-widget1__info kt-align-left">
                                                                                                <h3
                                                                                                    class="kt-widget1__title">
                                                                                                    Start
                                                                                                    Date
                                                                                                </h3>
                                                                                                <span
                                                                                                    class="kt-widget1__desc">{{task.StartDate|date:'dd-MM-yyyy'}}</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="kt-widget1__item">
                                                                                            <div
                                                                                                class="kt-widget1__info kt-align-left">
                                                                                                <h3
                                                                                                    class="kt-widget1__title">
                                                                                                    End
                                                                                                    Date
                                                                                                </h3>
                                                                                                <span
                                                                                                    class="kt-widget1__desc">{{task.SubProject_DeadLine|date:'dd-MM-yyyy'}}</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="kt-widget1__item">
                                                                                            <div
                                                                                                class="kt-widget1__info kt-align-left">
                                                                                                <h3
                                                                                                    class="kt-widget1__title">
                                                                                                    Status
                                                                                                </h3>
                                                                                                <span
                                                                                                    class="kt-widget1__desc">{{task.SubProject_Status}}</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="kt-widget1__item">
                                                                                            <div
                                                                                                class="kt-widget1__info kt-align-left">
                                                                                                <h3
                                                                                                    class="kt-widget1__title">
                                                                                                    Cost
                                                                                                </h3>
                                                                                                <span
                                                                                                    class="kt-widget1__desc">{{task.Project_Cost|currency:'SAR
                                                                                                    '}}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="kt-widget__title mb-0">
                                                            {{item.Project_Name}}
                                                        </p>
                                                    </td>
                                                    <td><span class="kt-widget__other">{{item.Exec_BlockName}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.ReportType==null;else ReportType">
                                                            <span class="kt-widget__other">Developemt</span>
                                                        </div>
                                                        <ng-template #ReportType>
                                                            <span class="kt-widget__other">{{item.ReportType}}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td><span class="kt-widget__other">{{item.TM_DisplayName}}</span>
                                                    </td>
                                                    <td><span class="kt-widget__other">
                                                            {{item.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.Status=='Under Approval'">
                                                            <span
                                                                class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge.kt-badge-light-bold kt-badge--inline">Under
                                                                Approval</span>
                                                            <!-- <span class="bg-success">{{item.Status}}</span> -->
                                                        </div>
                                                        <div *ngIf="item.Status=='Delay'">

                                                            <span
                                                                class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline">Delay</span>
                                                            <!-- <span class="font-weight-400">{{item.Status}}</span> -->
                                                        </div>
                                                        <!-- Other Status #ed6b75 -->
                                                        <div *ngIf="item.Status=='InProcess'">
                                                            <span class="text-warning font-weight-400">InProcess</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo InProcess'">
                                                            <span class="text-primary font-weight-400">ToDo
                                                                InProcess</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project'">
                                                            <span class="text-primary font-weight-400">New
                                                                Project</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project Rejected'">
                                                            <span class="text-danger font-weight-400">New
                                                                Project
                                                                Rejected</span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Project Hold'">
                                                            <span class="text-danger font-weight-400">Project
                                                                Hold</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo Completed'">
                                                            <span class="text-primary font-weight-400">ToDo
                                                                Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Todo'">
                                                            <span class="text-primary font-weight-400">New Todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completion Under Approval'">
                                                            <span class="text-warning font-weight-400">Completion
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completed'">
                                                            <span class="text-info font-weight-400">Completed
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Forward Under Approval'">
                                                            <span class="text-warning font-weight-400">Forward
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Complete Rejected'">
                                                            <span class="text-danger font-weight-400">Project
                                                                Complete
                                                                Rejected
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Enactive Under Approval'">
                                                            <span class="text-danger font-weight-400">Enactive
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Version'">
                                                            <span class="text-danger font-weight-400">Version
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Deadline Extend Under Approval'">
                                                            <span class="text-info font-weight-400">Deadline Extend
                                                                Under Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Holded'">
                                                            <span class="font-weight-400"
                                                                style="color: #c0b5dc;">Project Holded
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Hold Under Approval'">
                                                            <span class="font-weight-400"
                                                                style="color: #c0b5dc;">Project Hold Under Approval
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <div [hidden]="notFoundData" align="center" style="color: lightgrey;">
                                            <img src="assets/images/NotFound1.png" width="70px" >
                                            <br>
                                            <h5>data not found</h5>
                                            <p>please go back and try again</p>
                                        </div> -->
                                        <div class="text-center py-4" style="color: lightgrey">
                                            <h4>{{_filtersMessage}}</h4>
                                            <p> {{_filtersMessage2}}</p>
                                            <h4>{{notSelectedAnything_msg}} </h4>
                                            <p> {{notSelectedAnything_msg2}}</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>